body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, p {
    color: #435058;
}

#footer a {
    color: yellow;
}
.navbar {
    background-color:#BFB7B6;
}

.header-font {
    padding-left: 1rem;
    color:#435058;
}
.jumbotron-fluid img {
    max-width: 150%;
    max-height: 150%;
}

.sized {
   /* width: 260px; */
   width: 100%;
   height: 290px;
}

.scaled {
    width: 50%;
    height: 50%;
}

.round {
    border-radius: 50%;
}

footer {
    background-color: #f7d2b7;
    color: #435058;
}

.searchArea {
    background-color: #F1F2EE;
}

.jobtypes h2{
    text-align: center;
}